#tweetSvg {
  width: 100%;
  height: 100%;
}

.container {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset -1px -1px 10px 0px rgba(0, 0, 0, 0.5);
  flex-basis: 100%;
  max-width: 850px;

  /* For the loader */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes move {
  from {
    transform: translate(-10%, 0);
  }
  to {
    transform: translate(110%, 0);
  }
}

.spinner {
  opacity: 0.3;
}

.tweetBubble {
  animation-name: move;
  animation-timing-function: linear;
  stroke: black;
  stroke-width: 2px;
}

.paused .tweetBubble {
  animation-play-state: paused;
}

.tweetBubble:hover {
  cursor: pointer;
}
