.container {
  flex-basis: 100%;
  max-width: 400px;
  height: 14rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gauge {
  width: 100%;
}

.gauge g {
  stroke: black;
  stroke-width: 0px;
}
