.container {
  flex-basis: 100%;
  max-width: 450px;
  height: 16rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gauge {
  width: 100%;
}

.gauge g {
  stroke: black;
  stroke-width: 0px;
}

.text {
  font-size: 1.2rem;
}
