.header {
  background-color: var(--complement);
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 2rem;
  font-size: 4rem;
}

.header .bluebird {
  color: var(--blue);
  font-family: Playfair Display, serif;
}

.header .desc {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  max-width: 1280px;
}

.header .desc,
.header .desc a {
  color: RGB(209, 202, 194);
}

.header-wave,
.footer-wave {
  display: block;
  margin-bottom: 4rem;
  fill: var(--complement);
}

.footer {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.footer,
.footer a,
.footer a:visited {
  color: var(--complement);
}
