.container {
  flex-basis: 100%;
  max-width: 450px;
  height: 14rem;
}

.dp {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding-right: 0.4rem;
}

.tweet {
  text-align: left;
  text-decoration: none;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;

  height: 100%;
  display: block;
  padding: 1.2rem;
  box-sizing: border-box;
}

.tweet:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.header {
  margin: -0.5rem;
  padding: 0.5rem;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
  padding-top: 1.2rem;
  word-wrap: break-word;
}

.name {
  font-weight: 600;
}

.secondary {
  color: rgb(66, 66, 66);
  font-size: 0.9rem;
}

.row2 {
  flex-basis: 100%;
  margin-top: 0.1rem;
}

.emptyMessage {
  font-size: 1.1rem;
  padding-top: 6rem;
  text-align: center;
  font-style: italic;
}
