body {
  margin: 0;
  font-family: Roboto, serif;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f5f5f5;
}

:root {
  --complement: #1c1d1d;
  --primary: #d1cac2;
  --blue: #629398;
}
