.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #f0f2f4;

  margin: 1rem;
  box-sizing: border-box;
}

.stream {
  border-radius: 3px;
  margin: 1rem;
}

.button {
  background-color: white;
  border: 0;
  border-radius: 8px;
  width: 6rem;
  font-size: 1.1rem;
  padding: 0.8rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.button:active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.flex-break {
  flex-basis: 100%;
  width: 0;
}
