.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;

  margin: 1rem;
  box-sizing: border-box;
}

.stream {
  border-radius: 3px;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.flex-break {
  flex-basis: 100%;
  width: 0;
}
