.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.controls {
  width: 600px;
  text-align: center;
}

.button {
  padding: 10px 40px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: #23272b;
  color: white;
  font-weight: 600;
}

.card {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #ddfbff;
  margin: 15px;
  box-sizing: border-box;
}

.flexBreak {
  flex-basis: 100%;
  width: 0;
}
